body {
    background: rgb(204, 207, 234);
}

/*#page-content {
    min-width: 75vw;
}*/

/*#login-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 45vw;
}*/

#error {
    display: none;
}

.heading {
    text-align: center;
}

/*.section-heading {
    padding-top: 15px;
}*/

#auth-content {
    display: none;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

#buttons button {
/*
    margin: 0 0.5rem;*/
}


#update-scrollbox {
    overflow-y: scroll;
}
