body {
    background: rgb(204, 207, 234);
}




#error {
    display: none;
}

.heading {
    text-align: center;
}


#auth-content {
    display: none;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}




#update-scrollbox {
    overflow-y: scroll;
}
